.App {
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  background-color: orange;
  width: 300px;
  height: 500px;
  color: rgb(7, 7, 7);
  text-decoration: none;
}
.content {
  background-color: rgb(252, 252, 84);
  height: 500px;
  width: fit-content;
 
}
.link{
  text-decoration: none;
  color: black;
}
.image{
  width: 30px;
  height: 30px;
  opacity: 0.5px;
  margin-left: 20px;
}
.text{
  text-align: right;
}
.datatable{
  width: fit-content;
  height: 500px;
}

